@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");

/* colors */
.bg-color-name-title {
  background-color: #676767;
}

/* heading */
header {
  margin: 0;
}

.heading {
  margin-left: 3rem;
}

.logo {
  background-image: url("../images/rosie.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 360px;
  transition: all 500ms ease-in-out;
}

.name {
  font-family: "Exo", sans-serif;
  font-weight: 100;
  font-size: 4rem;
  margin-top: 4rem;
  color: white;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 2.5rem;
  margin-top: 1.25rem;
  margin-bottom: 5.625rem;
  color: white;
}
